.ProjectCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue-medium-dark);
   margin: 2% 1% 20% 1%;
}

.ProjectCard-title {
    font-size: 18px;
    margin-top: 5%;
    width: 110%;
}

.ProjectCard-image {
    width: 90%;
    padding-top: 90%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 25px;
    margin-bottom: 5%;
}

.ProjectCard-description {
    opacity: .8;
    text-align: center;
    line-height: 1.4;
    margin:2% 1% 5% 1%;
    font-size: 15px;
    min-height: 150px;
}

.ProjectCard-description i {
    font-size: 12px;
}