.ProjectCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-medium-dark);
  margin: 10px 15px;
}

.ProjectCard-title {
  font-size: 20px;
  margin-top: 5%;
}

.ProjectCard-image {
  width: 80%;
  padding-top: 80%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 25px;
  margin-bottom: 5%;
}

.ProjectCard-description {
  opacity: 0.8;
  text-align: center;
  line-height: 1.4;
  margin: 2% 1% 5% 1%;
  font-size: 17px;
}

.ProjectCard-description i {
  font-size: 12px;
}

button {
  margin-top: 7%;
}
