.container {
  width: 100vw;
}
.swb-projects {
  width: 100%;
}

h1 {
  font-size: 30px;
  color: var(--blue-medium-darker);
  font-weight: bold;
  text-align: center;
  margin: 100px 50px 50px 50px;
}

.details {
  font-size: 20px;
  width: 90%;
  color: var(--blue-medium-dark);
  opacity: 80%;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.project-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
.project-row {
  width: 90%;
  margin-top: -20%;
  display: flex;
}

.project-card {
  width: 30%;
  padding-top: 28%;
}

.project-card-syria {
  margin-bottom: 10%;
}
