.container {
  text-align: center;
}

h1 {
  font-size: 30px;
  color: var(--blue-medium-darker);
  font-weight: bold;
  text-align: center;
  margin: 100px 50px 50px 50px;
}

.details {
  font-size: 18px;
  width: 85%;
  color: var(--blue-medium-dark);
  opacity: 80%;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding-bottom: 2em; 
}

.project-layout {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.card-size {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 700px) {
 .project-layout {
   width: 60%;
 }

 h1 {
   font-size: 16px;
 }

 .details {
   font-size: 10px;
   width: 60%;
 }
 .ProjectCard-description {
  font-size: 10px;
 }


 .ProjectCard-title {
   font-size: 10px;
 }

 .button-medium {
   width: 100%;
   height: auto;
   font-size: 10px;
 }

 .ProjectCard-description i {
   font-size: 8px;
 }

}