<<<<<<< HEAD
.input {
  /* background-color: var(--gray-liter); */
  background-color: #3f3d56;
  /* color: --cyan-blue-liter; */
  color: #f5f8fb;
  padding: 10px;
  border-radius: 2px solid gray;
}
=======
.Input {

}
>>>>>>> ed745d7500ec38357d97d54ab25efbfed001eec6
