.MemberCard-parent {
  width: 100%;
}
.MemberCard-image {
  width: 100%;
  padding-top: 100%;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10%;
}

.MemberCard-name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.MemberCard-line {
  color: var(--blue-medium-dark);
}

.MemberCard-position {
  font-size: 26px;
  font-weight: var(--paragraph-weight);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 25px;
}
.MemberCard-about {
  font-size: 18px;
  text-align: left;
  max-height: 275px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.MemberCard-expand {
  overflow: visible;
  max-height: 1000px;
}

.MemberCard {
  width: 345px;
  max-height: 1000px;
  color: var(--blue-medium-dark);
}

@media screen and (max-width: 1150px) {
  .MemberCard {
    width: 17em;
  }
}

@media screen and (max-width: 850px) {
  .MemberCard {
    display: block;
  }
}
