.MemberCard-image {
  height: 330px;
  width: 332px;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.MemberCard-name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.MemberCard-line {
  color: var(--blue-medium-dark);
}

.MemberCard-position {
  font-size: 26px;
  font-weight: var(--paragraph-weight);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 25px;
}
.MemberCard-about {
  font-size: 18px;
  text-align: left;
  max-height: 275px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.MemberCard-expand {
  overflow: visible;
  max-height: 1000px;
}

.MemberCard {
  width: 345px;
  max-height: 1000px;
  color: var(--blue-medium-dark);
}

@media screen and (max-width: 1050px) {
  .MemberCard {
    width: 75%;
  }
  .MemberCard-parent {
    display: block;
  }
  .MemberCard-image {
    background-size: 50%;
    margin-bottom: -25%;
  }
  .MemberCard-name {
    margin-left: 50%;
    align-items: center;
    font-size: 1em;
  }
  .MemberCard-line {
    margin-left: 50%;
  }

  .MemberCard-position {
    font-size: 1em;
    margin-left: 50%;
  }
  .MemberCard-about {
    margin-left: 20%;
    width: 120%;
    overflow: hidden;
    font-size: 1em;
    text-align: start;
  }
}

@media screen and (max-width: 750px) {
  .MemberCard {
    width: 75%;
    margin-left: 18%;
  }
  .MemberCard-name {
    width: 65%;
    margin-left: 18%;
  }
  .MemberCard-image {
    margin-left: -5%;
  }
  .MemberCard-position {
    width: 65%;
    margin-left: 18%;
  }
  .MemberCard-line {
    margin-left: 1%;
  }
  .MemberCard-about {
    width: 65%;
    margin-left: 18%;
    text-align: center;
    font-size: 85%;
    overflow: hidden;
  }
}
