.MemberCard-image {
  height: 330px;
  width: 332px;
  border-radius: 25px;

  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.MemberCard-name {
  font-size: 36px;
}

.MemberCard-title {
  font-size: 30px;
}
.MemberCard-about {
  font-size: 20px;
}
.MemberCard {
  width: 332px;
}
