.box {
    z-index: -1;
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: var(--yellow);
  width: 82px;
  height: 74px;
}

.icon-number {
  z-index: 2;
  position: relative;
  font-family: var(--paragaph-font);
  font-weight: var(--banner-weight);
  color: var(--blue-medium-dark);
  font-size: 64px;
}
