.service {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	color: #403D57;
}

.service-img {
	width: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 2em;
}
