.ContactUsPage {
	width: 98%;
}

.ContactUsPage-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15px;
}

.ContactUsPage-header {
	color: var(--blue-medium-dark);
}

.ContactUsPage-form-placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ContactUsPage-button {
	margin: 10px 0;
}

.ContactUsPage-inquiries {
	font-size: 12px;
	text-align: center;
	margin: 30px 0;
}

.ContactUsPage-inquiries a {
	text-decoration: none;
	color: #000000;
}

@media screen and (max-width: 500px) {
	.ContactUsPage-header {
		font-size: 20px;
	}
}
