.pPageServices {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}
.pPageImageGalleryDiv {
  float: left;
  margin: 15px;
  margin-top: -30px;
}
.projectPageTitle {
  text-align: center;
  margin: 20px;
  margin-bottom: 50px;
  font-weight: bolder;
}
.ProjectPageDiv {
  margin: 30px;
}
.projectPageSWBTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--cyan-blue-dark);
}
.pPageSingleServices {
  display: flex;
}

@media screen and (max-width: 890px) {
  .pPageImageGalleryDiv {
    float: none;
    display: flex;
    justify-content: center;
  }
  .pPageLocationDiv {
    margin-left: 0;
    margin-top: 20px;
  }
  .smallProjectTag {
    text-align: center;
    margin-left: 0px;
  }
  .pPageServices {
    display: flex;
    margin-left: 0px;
  }
  .ProjectPageDiv {
    font-size: 14px;
  }
  .ProjectPageDiv {
    margin: 40px;
  }
}
@media screen and (max-width: 500px) {
  .pPageSingleServices {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .pPageLocationDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .pPageServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8px;
  }
  .ProjectPageDiv {
    font-size: 12px;
  }
  .smallProjectTag {
    display: none;
  }
  .pPageImageGalleryDiv {
    margin-top: -20px;
  }
  .projectPageTitle {
    font-size: 14px;
  }
  .ProjectPageDiv {
    margin: 20px;
  }
}
