.pPageServices {
    display: flex;
    margin: 10px;
}
.pPageImageGalleryDiv {
    float: left;
    margin: 20px;
}
.projectPageTitle {
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}
.smallProjectTag {
    font-size: 10px;
    margin-left: 50px;
}
