.HowItWorks {
    height: 1500px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue-medium-dark);

    background-color: antiquewhite;
}

.HowItWorks-body-container {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1.3fr 1.7fr;
}

.HowItWorks-step-image-container {
    height: 93%;
    grid-row: 1 /span 4;
    grid-column:1 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.HowItWorks-step-image {
    width: 190px;
}

.HowItWorks-path-container {
    height: 95%;
    margin-top: 5%;
    grid-row: 1 /span 4;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HowItWorks-path-image {
    height: 100%;

}

.HowItWorks-details-container {
    height: 97%;
    margin: 7% 10% 0 0;
    grid-row: 1 / span 4;
    grid-column: 3;
    /* align-self: flex-end; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.HowItWorks-detail-body {
    line-height: 1.4;
}