.two {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 18px;
  background-color: var(--yellow);
  width: 82px;
  height: 74px;
}

.three {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--yellow);
  width: 82px;
  height: 74px;
}

.four {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 22px;
  background-color: var(--yellow);
  width: 82px;
  height: 74px;
}
.IconNumber {
  z-index: 2;
  position: relative;
  font-family: var(--paragaph-font);
  font-weight: var(--banner-weight);
  color: var(--blue-medium-dark);
  font-size: 64px;
}
.box {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 16px;
  background-color: var(--yellow);
  width: 82px;
  height: 74px;
}

@media screen and (max-width: 500px) {
  .box {
  }
}
