
.box {
    background-color: var(--yellow);
    /* background-color: blue; */
    width: 82px;
    height: 74px;
}

.icon-number {
    color: #555870;
    font-size: 64px;
    font-family: Proxima Nova;
}