.pictureGalleryDiv {
  height: 30vh;
  width: 40vw;
}
.pPageImgOne {
  height: 30vh;
  width: 40vw;
  border-radius: 15px;
  display: block;
}
.pPageImgTwo {
  height: 30vh;
  width: 40vw;
  border-radius: 15px;
  background-color: red;
  display: none;
}
.pPageImgThree {
  height: 30vh;
  width: 40vw;
  border-radius: 15px;
  background-color: green;
  display: none;
}
.pPageDisplay {
  display: block;
}
.pPageNonDisplay {
  display: none;
}
.galleryImageBtn {
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50px;
  border: none;
  margin: 0 5px 0 5px;
}
.galleryBtnsDiv {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.selectedGalleryImg {
  background-color: black;
}
/* asante */

.asanteOne {
  background-image: var(--home-asante);
  background-position: center;
  background-size: cover;
}
