.how_you_can_benefit {
  background-color: var(--cyan-blue);
  width: 100%;
  height: 50%;
  border-radius: 5%;
  color: white;
  font-size: 0.6rem;
  font-family: var(--paragraph-font);
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.how_you_can_benefit h3 {
  font-size: 1.5rem;
  text-shadow: 1px 2px 2px grey;
  width: fit-content;
  border-bottom: 0.5px solid white;
  margin: 0 auto;
  line-height: 1;
  padding: 10% 0% 0% 0%;
}
.how_you_can_benefit p {
  padding: 0% 15% 5% 15%;
  font-size: 0.9rem;
  font-weight: lighter;
  text-shadow: 1px 2px 2px grey;
  line-height: 1.2;
}
.how_you_can_benefit img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.what_we_do {
  width: 100%;
  text-align: center;
  border-radius: 5%;
  color: white;
  background-color: var(--cyan-blue);
  font-family: var(--paragraph-font);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.what_we_do p {
  padding: 0% 15% 5% 15%;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 1.2;
  text-shadow: 1px 2px 2px grey;
  text-align: center;
}
.what_we_do img {
  padding-top: 10%;
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.what_we_do h3 {
  font-weight: 900;
  text-shadow: 1px 2px 2px grey;
  width: fit-content;
  border-bottom: 0.5px solid white;
  padding: 10% 0% 0% 0%;
  margin: 0 auto;
}

.our_volunteers {
  display: grid;
  grid-auto-rows: auto;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid var(--cyan-blue);
  border-radius: 5%;
  font-family: var(--paragraph-font);
  color: var(--blue-magenta-dark);
  text-align: center;
}
.our_volunteers h3 {
  width: 50%;
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: center;
}
.our_volunteers p {
  width: 75%;
  font-size: 0.8rem;
}
.Card-image {
  margin-top: 5%;
  width: 75%;
  padding-top: 45%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1000px) {
  .what_we_do {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .how_you_can_benefit {
    width: 50%;
  }
  .how_you_can_benefit p {
    text-align: center;
  }
  .what_we_do {
    width: 50%;
  }
  .what_we_do h3 {
    font-size: 0.8rem;
    text-align: center;
  }
  .what_we_do p {
    font-size: 0.8rem;
  }
  .our_volunteers {
    height: auto;
    width: 50%;
  }
  .our_volunteers h3 {
    font-size: 1rem;
    text-align: center;
  }
  .our_volunteers p {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1450px) {
  .our_volunteers img {
    width: 40%;
    height: auto;
  }
  .our_volunteers p {
    text-align: center;
  }
}
