.BlogCard {
    width: 390px;
    height: 490px;
    background-color: var(--cyan-blue);
    color: var(--white);
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-weight);
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.title {
    font-size: 30px;
}

.date {
    font-size: 20px;
}

hr {
    color: var(--yellow)
}


.label {
    font-size: 18px;
}
