.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-top: -75px;
  margin-bottom: 50px;
  width: 100vw;
  height: auto;
}

.Footer-Icons {
  display: flex;
  flex-direction: row;
}

.IconImage {
  width: 50px;
  margin-bottom: 20px;
}

.footer-text-link {
  text-decoration: none;
  color: black;
  line-height: 25px;
}

.footer-email-link {
  font-size: 120%;
}

.footer-privacy-policy {
  font-size: 90%;
}

@media screen and (max-width: 600px) {
  .Footer {
    display: block;
    text-align: center;
  }
  .Footer-Icons {
    display: flex;
    justify-content: center;
  }
}
