.container{
    width:85%;
}

.about-img{
    height: 400px;
    background: no-repeat;
    background-size: contain;
    width: 50%;
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}

.about-title{
    color: #565970;
}

.about-swb p{
    color: #565970;
    font-size: 18px;
}

.section-p{
    margin-bottom: 20px;
    overflow:hidden;
    
}

.section-p-one {
    margin-top: 40px;
}

.about-hr {
    border-top: 2px solid #5373AB;
    margin-top: 100px;
    margin-bottom: 100px;
}

.objective-section-one{
    margin-top: 80px;
}

.objective-section{
    margin-left: 10%;
    margin-bottom: 70px;
}




