.container {
  width: 100%;
  height: 100vh;
}

.about-img {
  height: 400px;
  background: no-repeat;
  background-size: contain;
  width: 45%;
  display: inline-block;
  margin-right: 40px;
  margin-top: 30px;
}

.about-title {
  color: #565970;
}

.about-swb p {
  color: #565970;
  font-size: 18px;
}

.section-p {
  margin-bottom: 20px;
  overflow: hidden;
}

.section-p-one {
  margin-top: 40px;
}

.about-hr {
  border-top: 2px solid #5373ab;
  margin-top: 100px;
  margin-bottom: 100px;
}

.objective-section-one {
  margin-top: 80px;
}

.objective-section {
  margin-left: 10%;
  margin-bottom: 70px;
}

.number-icons-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 85%;
}

.number-icons-header {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #565970;
  margin: 60px;
}
.number-icons-objectives {
  display: flex;
  justify-content: space-evenly;
  /* width: inherit; */
  font-size: 22px;
  padding: 20px;
  padding-left: 10%;
  width: 90%;
}
.number-icons-icon {
  justify-content: flex-start;
  width: 15%;
}
.number-icons-text {
  justify-content: row;
  width: 80%;
  color: #565970;
}

.charter-text {
  text-align: right;
  color: #565970;
  font-size: 22px;
  margin-right: 250px;
}

.funding-facts-section {
  display: flex;
  flex-direction: column;
}

.funding-facts-fact {
  padding-left: 10%;
  margin: 15px;
}

.funding-facts-readtext {
  float: right;
  margin-right: 5%;
}
.broadgreen-header {
  margin-bottom: 5%;
}
.broadgreen-section {
  margin: 0 110px;
  font-size: 22px;
  color: #565970;
  line-height: 125%;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
