.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  color: var(--blue-medium-dark);
  margin-top: 5%;
}

.about-swb {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--blue);
  padding-bottom: 3%;
}
.about-swb p {
  width: 45%;
  color: var(--blue-medium-dark);
  font-size: 18px;
  margin-right: 2%;
  line-height: 1.4;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
  background: no-repeat;
  background-size: contain;
  background-position: center;
  width: 42%;
  padding-top: 27%;
  margin: 0 1% 0 0;
}

.section-p {
  margin-bottom: 25px;
  text-align: start;
}

.about-hr {
  border-top: 2px solid var(--blue);
  margin-top: 100px;
  margin-bottom: 100px;
}

.aboutus-section {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--blue);
}

.aboutus-bottom-section {
  border: none;
  padding-bottom: 7%;
}

.objective-section-one {
  margin-top: 80px;
}

.objective-section {
  margin-left: 10%;
  margin-bottom: 70px;
  text-align: start;
}
.member-header {
  color: var(--blue-medium-dark);
  font-size: 2em;
}
.member-parent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 2%;
}

.member-cards {
  min-width: 28%;
  margin: 2% 2%;
}

.member-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.number-icons-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 85%;
}

.number-icons-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--blue-medium-dark);
  margin: 60px;
}
.number-icons-objectives {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  padding: 20px;
  padding-left: 10%;
  width: 90%;
  text-align: start;
}
.number-icons-icon {
  justify-content: flex-start;
  width: 15%;
}
.number-icons-text {
  justify-content: row;
  width: 80%;
  color: var(--blue-medium-dark);
}

.charter-text {
  text-align: right;
  color: var(--blue-medium-dark);
  font-size: 22px;
  margin-right: 18%;
  margin-bottom: 3%;
}

.charter-underline {
  border-bottom: 0.5px gray solid;
  text-decoration: none;
  color: var(--blue-medium-dark);
}

.funding-facts-header {
  color: var(--blue-medium-dark);
}

.funding-facts-section {
  display: flex;
  flex-direction: column;
}

.funding-facts-fact {
  padding-left: 10%;
  margin: 15px;
  line-height: 125%;
}

.funding-facts-readtext {
  font-size: 18px;
  color: var(--blue-medium-dark);
  align-self: flex-end;
  margin-right: 5%;
  margin: 2% 7%;
}

.volunteer-underline {
  border-bottom: 0.5px gray solid;
  text-decoration: none;
  color: var(--blue-medium-dark);
}
.privacy-policy-underline {
  border-bottom: 0.5px gray solid;
  text-decoration: none;
  color: var(--blue-medium-dark);
}
.broadgreen-header {
  margin-bottom: 5%;
}
.broadgreen-section {
  margin: -5px 150px;
  font-size: 22px;
  color: var(--blue-medium-dark);
  line-height: 145%;
  text-align: start;
}

@media screen and (max-width: 750px) {
  .about-title {
    margin-top: 5%;
  }
  .about-swb {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-swb p {
    width: 98%;
  }

  .section-p {
    width: 100%;
    font-size: 90%;
   
  }
  .about-img {
    width: 100%;
    padding-top: 50%;
    background-position: center;
  }
  .objective-section {
    display: flex;
    flex-direction: row;
  }
  .member-parent-container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .number-icons-objectives {
    display: block;
  }
  .number-icons-icon {
    width: 10%;
  }
  .number-icons-text {
    display: inline-block;
    text-align: start;
    margin-top: 15%;
    font-size: 80%;
  }
  .broadgreen-section {
    display: inline;
    font-size: 95%;
  }
  .broadgreen-section p {
    margin: 10px 20px;
  }
  .objective-section {
    display: inline;
  }
  .charter-text {
    font-size: 90%;
  }
  .funding-facts-readtext {
    font-size: 90%;
  }
}
