

.Nav_item-wrapper {
  list-style-type: none;
  margin: 0;
  margin-left: 48%;
  padding: 0;
  color: var(--blue);
  display: flex;
}

.Nav_item {
  width: 100%vw;
  display: inline-block;
  text-align: right;
  font-size: 17px;
  margin: 5%
}

.Nav_link {
  color: var(--blue);
  text-decoration: none;
  font-style: Inter;
}

.Header {
  display: flex;
  width: 100%;
}

.logo {
  float: left;
  height: 50px;
}

.login {
  margin-left: 170px;
  margin-top: 5px;
  height: 40px;
}

.Nav-hamburger {
  width: 10%;
  justify-self: flex-end;
  /* display: none; */
}

.Nav-hamburger-img {
  width: 20%;
}

@media (max-width: 1199.98px) { 
  .Nav_item-wrapper{
    margin-left: 32%
  }
}

@media (max-width: 991.98px) { 
  .Nav_item-wrapper{
    margin-left: 9%
  }
}

@media (max-width: 575.98px) { 
  .Nav_item-wrapper{
    margin-left: 0%;
    width: 1vw
  } 
  .Nav_item {
    margin: 2% 
  }

  .Nav_link{
    font-size: 15px;
  }
  .login{
    margin-left: 0%;
  }
}



