.Nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.Header {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.Nav-logo-images {
  width: 35%;
  display: flex;
  justify-content: flex-start;
}

.Nav-link-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.Nav_item-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--blue);
  display: flex;
  justify-content: flex-end;
}

.Nav_item {
  display: inline-block;
  text-align: right;
  font-size: 17px;
  margin: 5%
}

.Nav_link {
  color: var(--blue);
  text-decoration: none;
  font-style: Inter;
}

.logo {
  float: left;
  height: 50px;
}

.Nav-login-container {
  width: 5%;
}

.login {
  height: 40px;
}

.Nav-hamburger {
  width: 8%;
  display: none;
  padding-right: 2%;
}

.Nav-hamburger-img {
  width: 100%;
}

@media (max-width: 1199.98px) { 
  .Nav_item-wrapper{
    margin-left: 32%
  }
}

@media (max-width: 991.98px) { 
  .Header {
    width: 100%;
    justify-content: flex-start;
  }

  .Nav_item-wrapper{
    display: none;
    margin-left: 9%
  }
  .Nav-login-container {
    display: none;
  }

  .Nav-hamburger {
    display: initial;
    margin-left: auto;
  }
}

@media (max-width: 575.98px) { 
  .Nav-hamburger {
    width: 15%;
    padding-right: 3%;
  }

  .Nav_item {
    margin: 2% 
  }

  .Nav_link{
    font-size: 15px;
  }
  .login{
    margin-left: 0%;
  }
}



